textarea {
    resize: none;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputing {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: column;
}

#status {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999;
}

.outside {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30%;
}

.preloading {
    text-align: center;
}
