textarea {
    resize: none;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputing {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: column;
}

#status {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999;
}

.outside {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30%;
}

.posts {
    margin-bottom: 20px;
}

.posts div {
    padding: 10px;
    background-color: #f2f2f2;
    margin-bottom: 10px; /* Added margin-bottom for the gap */
}

.username {
    font-weight: bold;
    margin-bottom: 5px;
}

.content {
    margin-bottom: 10px;
}

.comments {
    font-style: italic;
    color: #888;
    margin-bottom: 5px;
}
